.log-container {
    color: white;
    background-color: rgb(0, 0, 0);
    width: 500px;
    height: 300px;
    font-weight: 400;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinhar os logs à esquerda */
    padding: 10px; /* Adicionar um padding interno */
    max-height: 350px;
    overflow-y: auto;
    gap: 2px; /* Reduzir o espaçamento entre logs */
}

.p-log {
    font-size: 14px;
    font-family: 'roboto', sans-serif;
    margin: 2px 0; /* Reduzir espaçamento vertical */
    white-space: pre-wrap; /* Garantir que os logs não quebrem de forma inesperada */
    word-break: break-word; /* Quebra palavras muito longas */
}


.log-container::-webkit-scrollbar {
    width: 6px;
}

.log-container::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
}

.log-container::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
}

.log-container::-webkit-scrollbar-track {
    background: transparent;
  }