:root {
  --cor-primaria: #76ABAE;
  --cor-secundaria: #31363F;
  --cor-texto: #EEEEEE;
  --cor-fundo: #222831;
} 

body {
  margin: 0;
  padding: 0;
  color: var(--cor-texto);
  background-color: var(--cor-fundo); 
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

option, select {
  color: var(--cor-texto);
  font-family: "roboto";
}

select {
  padding: 3px 3px;
  font-size: 16px;
  border: 1px solid var(--cor-secundaria);
  border-radius: 6px;
  background-color: var(--cor-primaria);
  appearance: none; /* remove setinha padrão (pode customizar) */
  cursor: pointer;
  transition: border 0.3s ease;
  width: 150px;
  text-align: center;
}

select:focus {
  outline: none;
}

input[type="file"] {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}